@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	@apply caret-[#552BCC];
}

.montserratAlternatesFont {
	font-family: "Montserrat Alternates", sans-serif;
}

.montserratFont {
	font-family: "Montserrat", sans-serif;
}
