@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	@apply caret-[#552BCC];
}

.montserratAlternatesFont {
	font-family: "Montserrat Alternates", sans-serif !important;
}

.montserratFont {
	font-family: "Montserrat", sans-serif;
}
